<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FMSDbConnection3" connectionString="Data Source=DESKTOP-19P2RII\SQLEXPRESS;Initial Catalog=FMSDB3;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework;" providerName="System.Data.SqlClient" />
  </connectionStrings>  
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
</configuration>